<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
		<rule name="Rewrite download/latest" stopProcessing="true">
			<match url="^download/latest" />
			<action type="Rewrite" url="http://api.squizmaster.com/asset/6" />
		</rule>
		
        <rule name="redirect to api" stopProcessing="true">
          <match url="^(.[^/]*)(\/)?(.[^/]*)(\/)?(.[^/]+)?(\/)?(.+)?$" />
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>